// Container
.container {
  max-width: ($containerWidth + $containerPadding) + px;
  width: 100%;
  margin: 0 auto;
  padding: 0 $containerSidePadding + px;

  @media (max-width: $breakpoint992) {
    max-width: 970px;
  }

  @media (max-width: $breakpoint768) {
    max-width: 740px;
  }

  @media (max-width: $breakpoint480) {
    max-width: none;
  }
}

// Body Locked
body {
  font-family: 'Poppins', sans-serif;

  &.locked {
    overflow: hidden;
  }
}

.section {
  @media (max-width: $breakpoint992) {
    padding: 75px 0;
  }

  //@media (max-width: $breakpoint768) {
  //    padding: 50px 0;
  //}

  @media (max-width: $breakpoint480) {
    padding: 50px 0;
  }
}

.section__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: $grayColor;
  margin-top: 16px;

  &.subtitle__center {
    text-align: center;
  }
}


.section__title {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 62px;
  color: $blueColor;

  &.title__center {
    text-align: center;
  }

  @media (max-width: $breakpoint992) {
    font-size: 32px;
    line-height: 50px;
  }

  @media (max-width: $breakpoint768) {
    font-size: 26px;
    line-height: 42px;
  }

  @media (max-width: $breakpoint480) {
    font-size: 28px;
    line-height: 34px;
  }

  span {
    color: $redColor;
  }
}

.btn {
  background: $redColor;
  color: $whiteColor;
  padding: 14px 32px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  @media (max-width: $breakpoint992) {
    padding: 12px 26px;
  }

  &:hover {
    background: #d70734;
    transition: 0.3s all ease;
  }
}

.btn__outline {
  padding: 14px 32px;
  border-radius: 6px;
  font-size: 16px;
  line-height: 150%;
  font-weight: bold;
  border: 1px solid $redColor;
  color: $redColor;
  @media (max-width: $breakpoint992) {
    padding: 12px 26px;
  }

  &:hover {
    background: $redColor;
    color: $whiteColor;
    transition: 0.3s all ease;
  }
}

// Animations
// Fade
@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
